@using mvc_ogrenci_not_yonetim.Models.EntityFramework;
@model TBL_OGRENCILER
@{
    ViewBag.Title = "Yeni Öğrenci Ekle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form action="OgrenciEkle" method="post" class="mt-5">



    <label>Öğrenci Adı :</label>
    <input type="text" name="OGRAD" value="" class="form-control mt-3" />
    <label>Öğrenci Soyad :</label>
    <input type="text" name="OGRSOYAD" value="" class="form-control mt-3" />
    <label>Öğrenci Cinsiyet :</label>
    <input type="text" name="OGRCINSIYET" value="" class="form-control mt-3" />

    <label>Öğrenci Kulüp :</label>
    <input type="text" name="OGRKULUP" value="" class="form-control mt-3" />
    @*@Html.DropDownListFor(m => m.TBL_KULUP.KULUPID, (List<SelectListItem>)ViewBag.klpdeger, new { @class = "form-control" })*@

    @* Burada dropdownlistfor ile yazmamızın sebebi : lambda türtünde sorgular yazmak için *@

    @* 4 parametre alır. 1.parametre dropdown adı, 2.parametre dropdown içindeki değerler  *@
    <label>Öğrenci Fotoğraf :</label>
    <input type="text" name="OGRFOTOGRAF" value="" class="form-control" />
    <button class="btn btn-success mt-5">Yeni Öğrenci Ekle</button>
</form>
