
@{
    ViewBag.Title = "Home Page";
}



<div class="container mt-5">


    <div class="d-flex flex-column justify-center align-items-center h-100 mt-5">
        <h2 class="fw-bold">MVC İLE ÖĞRENCİ NOT YÖNETİMİ PROJEME HOŞGELDİNİZ</h2>

        <p style="font-size:32px;">Bu projede mvc yapısını anlamak için CRUD işlemleri yapılmıştır. Tasarıma çok odaklanılmamıştır</p>


        <ul class="d-flex gap-5">
            <li> <a href="https://github.com/ridvanguzel" style="font-size:24px;">Github</a> </li>
            <li> <a href="https://www.instagram.com/uix.ridvan/" style="font-size:24px;">Instagram</a> </li>
            <li> <a href="https://www.linkedin.com/in/ridvanguzel/" style="font-size:24px;">Linkedin</a> </li>
            <li> <a href="https://www.behance.net/ridvanguzel" style="font-size:24px;">Behance</a> </li>
        </ul>
    </div>

</div>